---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import HighlightedPosts from '~/components/blog/HighlightedPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Demander un audit', href: 'https://github.com/onwidget/astrowind', icon: 'tabler:file-export' }}
    callToAction2={{ text: 'En savoir plus', href: '#features' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Sec101 - Prestation d'audit en cybersécurité
    </Fragment>

    <Fragment slot="subtitle">
	  Nous aidons les entreprises à sécuriser leurs sites web, leurs applications mobiles et
	  leurs infrastructures cloud à travers des tests d'intrusions.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Stats Widget ****************** -->

  <Stats
    items={[
      { name: 'Auditeurs', value: '8' },
      { name: 'Clients', value: '+50' },
      { name: 'Vulnérabilités', value: '+400' },
      { name: 'Vuln. critiques', value: '+50' },
    ]}
  />

  <!-- Features Widget *************** -->

  <Features
    highlight="Features"
    title="What you get with AstroWind"
    subtitle="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae."
    items={[
      [
        {
          title: 'Astro + Tailwind CSS Integration',
          description:
            'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
          icon: 'tabler:brand-tailwind',
        },
        {
          title: 'Ready-to-use Components',
          description:
            'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
          icon: 'tabler:components',
        },
        {
          title: 'Best Practices',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Excellent Page Speed',
          description:
            'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Search Engine Optimization (SEO)',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:arrows-right-left',
        },
        {
          title: 'Open to new ideas and contributions',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
	isReversed
    highlight="Inside template"
    title="And what's inside? ..."
    content="Ne dicta praesent ocurreret has, diam theophrastus at pro. Eos etiam regione ut, persius eripuit quo id. Sit te euismod tacimates."
    items={[
      {
        title: 'Per ei quaeque sensibus',
        description:
          'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
      },
      {
        title: 'Cu imperdiet posidonium sed',
        description:
          'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
        description:
          'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
      },
    ]}
    image={{
      src: import('~/assets/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  />

  <!-- Content Widget **************** -->

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula.',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/creativity.jpg'),
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Questions Fréquentes"
    subtitle="Vous trouverez dans cette section les réponses aux questions fréquemments posées."
    highlight="FAQs"
    items={[
      [
        {
          question: "Qu'est-ce qu'un test d'instrusion ?",
          answer:
            "Un test d'intrusion (pentest) est une évaluation de la sécurité qui simule une attaque sur un réseau ou une application afin d'identifier les failles de sécurité.",
        },
        {
          question: "Pourquoi avez-vous besoin d'un test d'intrusion ?",
          answer:
            "Travailler avec une entreprise de tests d'intrusion qualifiée est le meilleur moyen d'améliorer la sécurité de vos systèmes et de maintenir une bonne réputation auprès des clients.",
        },
        {
          question: "À quelle fréquence dois-je effectuer un test d'intrusion ?",
          answer:
            "Il est nécessaire de réaliser des tests de pénétration régulièrement (au moins une fois par an) pour garantir la sécurité face à des menaces en constante évolution.",
        }
      ],
      [
        {
          question: "Fournissez-vous un rapport de sécurité ?",
          answer:
            "Toutes les vulnérabilités identifiées au cours de l'audit seront documentées et des solutions de remédiation adaptées à votre produit seront décrites dans un rapport qui vous sera transmis.",
        },
        {
          question: "Combien de temps dure un test d'instrusion ?",
          answer:
            "La durée d'un test d'intrusion est généralement d'une semaine, mais elle peut être ajustée à la hausse ou à la baisse en fonction de la complexité du produit testé.",
        },
        {
          question: "Réalisez-vous de l'analyse de code ?",
          answer:
            "Absolument, nous effectuons des analyses de code qui nous permettent d'approfondir la recherche de vulnérabilités et ainsi, de découvrir davantage de failles et de failles plus critiques.",
        }
      ]
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Demander un audit',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:file-export',
    }}
  >
    <Fragment slot="title">
      Sécurisez <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">vos applications</span>
    </Fragment>

    <Fragment slot="subtitle">
      En quelques minutes, détaillez votre application et accèdez à nos services de cybersécurité.
    </Fragment>
  </CallToAction>
</Layout>
