---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import HighlightedPosts from '~/components/blog/HighlightedPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Demander un audit', href: '#', icon: 'tabler:file-export' }}
    callToAction2={{ text: 'En savoir plus', href: '#missions' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Sec101 - Prestation d'audit en cybersécurité
    </Fragment>

    <Fragment slot="subtitle">
	  Nous aidons les entreprises à sécuriser leurs sites web, leurs applications mobiles et
	  leurs infrastructures cloud au travers de tests d'intrusions.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- Stats Widget ****************** -->

  <Stats
    items={[
      { name: 'Auditeurs', value: '8' },
      { name: 'Clients', value: '+50' },
      { name: 'Vulnérabilités', value: '+400' },
      { name: 'Vuln. critiques', value: '+50' },
    ]}
  />

  <!-- Features Widget *************** -->


  <!-- Content Widget **************** -->

  <Content
	isReversed
    highlight="missions"
    title="Nos Missions"
    content="Voici les prestations en sécurité informatique que nous proposons :"
    items={[
      {
        title: 'Site et application web',
        description:
          'Tests de sécurité sur le frontend, le backend et la logique métier de vos sites web.',
      },
      {
        title: 'Application mobile',
        description:
          'Vérification sur le stockage des données et des exploitations potentiels de vos applications.',
      },
      {
        title: 'Infrastructure cloud',
        description:
          'Évaluation des bonnes pratiques de sécurité lors de la mise en place d\'une infrastructure Cloud.',
      },
    ]}
    image={{
      src: import('~/assets/images/teamwork.jpg'),
      alt: 'Colorful Image',
    }}
  />

  <!-- Content Widget **************** -->

  <!-- Steps Widget ****************** -->

  <Steps
    title="Déroulement d'un test d'intrusion en 3 étapes"
    items={[
      {
        title: 'Étape 1: <span class="font-medium">Décrivez votre application</span>',
        description:
          "Veuillez remplir un formulaire détaillé (<b>demande d'audit</b>) sur votre produit et passer un bref entretien pour définir l'environnement avant le début des tests de sécurité.",
        icon: 'tabler:info-circle',
      },
      {
        title: 'Étape 2: <span class="font-medium">Test d\'intrusion</em>',
        description:
          "Le test d'intrusion est réalisé par notre équipe d'experts en cybersécurité selon les modalités convenues lors du premier entretien.",
        icon: 'tabler:test-pipe',
      },
      {
        title: 'Étape 3: <span class="font-medium">Présentation du rapport</span>',
        description:
          "Présentation du rapport qui recense toutes les vulnérabilités identifiées, ainsi que leurs impacts et les mesures de remédiations.",
        icon: 'tabler:file-certificate',
      },
      {
        title: 'Produit sécurisé !',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/contact.jpg'),
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Questions Fréquentes"
    subtitle="Vous trouverez dans cette section les réponses aux questions fréquemment posées."
    highlight="FAQs"
    items={[
      [
        {
          question: "Qu'est-ce qu'un test d'instrusion ?",
          answer:
            "Un test d'intrusion (pentest) est une évaluation de la sécurité qui simule une attaque sur un réseau ou une application afin d'identifier les failles de sécurité.",
        },
        {
          question: "Pourquoi avez-vous besoin d'un test d'intrusion ?",
          answer:
            "Pour améliorer la sécurité de vos systèmes afin de protéger vos données sensibles, maintenir une bonne réputation auprès de vos clients et éviter des demandes de rançon.",
        },
        {
          question: "À quelle fréquence dois-je effectuer un test d'intrusion ?",
          answer:
            "Il est nécessaire de réaliser des tests de pénétration régulièrement (au moins une fois par an) pour garantir la sécurité face à des menaces en constante évolution.",
        }
      ],
      [
        {
          question: "Fournissez-vous un rapport de sécurité ?",
          answer:
            "Toutes les vulnérabilités identifiées au cours de l'audit seront documentées et des solutions de remédiation adaptées à votre produit seront décrites dans un rapport qui vous sera transmis.",
        },
        {
          question: "Combien de temps dure un test d'instrusion ?",
          answer:
            "La durée d'un test d'intrusion est généralement d'une semaine, mais elle peut être ajustée à la hausse ou à la baisse en fonction de la complexité du produit testé.",
        },
        {
          question: "Réalisez-vous de l'analyse de code ?",
          answer:
            "Absolument, nous effectuons des analyses de code qui nous permettent d'approfondir la recherche de vulnérabilités et ainsi, de découvrir davantage de failles et de failles plus critiques.",
        }
      ]
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Demander un audit',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:file-export',
    }}
  >
    <Fragment slot="title">
      Sécurisez vos applications
    </Fragment>

    <Fragment slot="subtitle">
      En quelques minutes, détaillez votre application et accèdez à nos services de cybersécurité.
    </Fragment>
  </CallToAction>
</Layout>
